:root {
  --c-primary: #D5966C;
  --c-secondary: #151515;
  --c-tertiary: #444444;
  --c-white: hsl(0, 0%, 100%);

  --ff-heading: 'Big Shoulders Display', cursive;
  --ff-body: 'Outfit', sans-serif;
}