@use '../abstracts' as a;
@use "sass:meta";

:root {
  color-scheme: light dark;
  --color-mode: 'light';

  // Font.
  --ff-main: #{meta.inspect(a.$f__space_mono)};

  // Font size.
  font-size: 62.5%;

  // Transitions.
  --t-default: 300ms ease-in-out;

  // UI colors.
  --ui-accent: #{a.$c__azure-radiance};
  --ui-accent-light: #{a.$c__malibu};

  --ui-bg-primary: #{a.$c__zircon};
  --ui-bg-seconday: #{a.$c__white};

  --ui-text-primary: #{a.$c__kashmir-blue};
  --ui-text-seconday: #{a.$c__lynch};
  --ui-text-tertiary: #{a.$c__white};
  --ui-text-muted: #{a.$c__rock-blue};
  --ui-text-heading: #{a.$c__ebony-clay};

  --ui-error-color: #{a.$c__sunset-orange};

  --ui-button-bg: var(--ui-accent);
  --ui-button-color: #{a.$c__white};

  --ui-logo-color: #{a.$c__ebony-clay};

  // Width.
  --w-phone: 45rem;
  --w-tablet: 57.3rem;
  --w-desktop: 73rem;

  // Box Shadow.
  --ui-box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
}