@use '../abstracts' as a;

.btn,
button,
input[type="button"] {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: a.rem(15px) a.rem(16px) a.rem(17px);
  background: var(--color-quaternary);
  box-shadow: inset 0px -4px 0px #6B8997;
  border-radius: 10px;
  color: #1A2A33;
}

.btn--block {
  display: block;
  width: 100%;

  & ~ .btn--block {
    margin-top: a.rem(16px);
  }
}