@use '../abstracts' as a;

.title,
.subtitle,
.helper-text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-quaternary);
}

.title {
  line-height: a.rem(30px);
  letter-spacing: a.rem(1.5px);
}

.subtitle {
  font-size: a.rem(14px);
  line-height: a.rem(18px);
  letter-spacing: a.rem(1px);
  margin-bottom: a.rem(16px);

  &--lg {
    font-size: a.rem(16px);
  }
}

.helper-text {
  font-weight: 500;
  font-size: a.rem(14px);
  line-height: a.rem(18px);
  letter-spacing: a.rem(0.875px);
  mix-blend-mode: normal;
  opacity: 0.5;
}