$f__space_mono: 'Space Mono', monospace;

// Common Colors.
$c__azure-radiance: hsl(212, 100%, 50%);
$c__white: hsl(0, 0%, 100%);
$c__sunset-orange: hsla(0, 91%, 62%, 1);
$c__malibu: hsl(212, 100%, 69%);

// Light Theme.
$c__lynch: hsl(217, 20%, 51%);
$c__kashmir-blue: hsl(217, 35%, 45%);
$c__ebony-clay: hsl(217, 21%, 21%);
$c__zircon: hsl(227, 100%, 98%);
$c__rock-blue: hsl(216, 28%, 72%);

// Dark Theme.
$c__big-stone: hsl(220, 40%, 13%);
$c__cloud-burst: hsl(222, 41%, 20%);
$c__manatee: hsl(220, 10%, 60%);