@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '/plugins/swiper.css';

@layer base {
    body {
        @apply text-dark-grayish-blue text-sm;
    }

    h1, h2, h3, h4, h5 {
        @apply text-dark-blue font-bold;
    }

    a {
        @apply cursor-pointer transition-colors hover:text-bright-red;
    }
}

@layer components {
    .btn {
        @apply inline-block shadow-2xl font-bold text-xs rounded-full py-3 px-8 bg-bright-red text-white transition-all hover:bg-light-red hover:text-white cursor-pointer;
    }

    .btn-secondary {
        @apply text-bright-red bg-white;
        box-shadow: 0 15px 15px -10px #DB5943;
    }
}

body {
    background: url("../img/bg-tablet-pattern.svg") top -100px right -145px/456px no-repeat, url("../img/bg-tablet-pattern.svg") top 16.5% right -185px/318px no-repeat;
}

#cta {
    background-image: url("../img/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

@media screen(lg) {
    body {
        @apply text-base;
        background: url("../img/bg-tablet-pattern.svg") top -170px right -155px no-repeat, url("../img/bg-tablet-pattern.svg") bottom 34% left -550px no-repeat;
    }

    #cta {
        background-image: url("../img/bg-simplify-section-desktop.svg");
        background-position: center bottom;
    }
}