@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './plugins/swiper.css';
@import './plugins/hamburgers.css';

@layer base {
    body {
        @apply text-dark-grayish-blue text-sm;
    }

    h1, h2, h3, h4, h5 {
        @apply text-dark-blue font-semibold;
    }

    a {
        @apply cursor-pointer transition-colors hover:text-bright-red;
    }
}

@layer components {
    .btn {
        @apply inline-block shadow-2xl font-bold text-xs rounded-full py-3 px-8 bg-bright-red text-white transition-all hover:bg-light-red hover:text-white cursor-pointer;
    }

    .btn-secondary {
        @apply text-bright-red bg-white;
        box-shadow: 0 15px 15px -10px #DB5943;
    }

    .error-message {
        position: absolute;
        top: 100%;
        margin-top: 5px;
        color: theme(colors.bright-red);
        font-size: 10px;
        font-style: italic;
    }

    input.invalid {
        @apply border border-solid border-bright-red;
    }

    .mobile-menu-active {

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);
             z-index: 90;
        }

        #menuToggle {
            position: relative;
            z-index: 100;
        }

        #navigation {
            display: block;
            position: fixed;
            top: 6.438rem;
            left: 24px;
            right: 24px;
            background-color: white;
            text-align: center;
            padding: 40px;
            box-shadow: 0 10px 20px rgba(80, 86, 98, 0.03);
            border-radius: 4px;
            z-index: 100;
        }
    }
}

body {
    background: url("../img/bg-tablet-pattern.svg") top -100px right -145px/456px no-repeat, url("../img/bg-tablet-pattern.svg") top 16.5% right -185px/318px no-repeat;
}

#cta {
    background-image: url("../img/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

@media screen(lg) {
    body {
        @apply text-base;
        background: url("../img/bg-tablet-pattern.svg") top -170px right -155px no-repeat, url("../img/bg-tablet-pattern.svg") bottom 34% left -550px no-repeat;
    }

    #cta {
        background-image: url("../img/bg-simplify-section-desktop.svg");
        background-position: center bottom;
    }
}