@use '../abstracts' as a;

.btn {
  padding: a.rem(15px);
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-weight: 700;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: all 300ms ease-in-out;

  @include a.media('>tablet') {
    font-size: a.rem(18px);
    line-height: a.rem(32px);
    letter-spacing: a.rem(-0.18px);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:focus-within {
    outline: 1px solid var(--color-primary);
  }

  &--block {
    width: 100%;
  }

  &--dark {
    background-color: var(--color-dark);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-light);
    }
  }

  &--light {
    background-color: var(--color-light);
    color: var(--color-dark);

    &:hover {
      background-color: var(--color-tertiary);
      color: var(--color-dark);
    }
  }

  .svg-icon {
    margin-right: a.rem(7.8px);
  }
}

