@use '../abstracts' as a;

.list {
  &--inline {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    > li {
      &:not(:last-child) {
        margin-right: a.rem(20px);
      }
    }
  }
}