:root {
  --c-strong-cyan: hsl(172, 67%, 45%);
  --c-strong-cyan-alt: hsla(172, 61%, 77%, 1);
  --c-very-dark-cyan: hsl(183, 100%, 15%);
  --c-dark-grayish-cyan: hsl(186, 14%, 43%);
  --c-dark-grayish-cyan-alt: hsl(184, 14%, 56%);
  --c-light-grayish-cyan: hsl(185, 41%, 84%);
  --c-light-grayish-cyan-alt: hsl(189, 41%, 97%);
  --c-white: hsl(0, 0%, 100%);
  --c-red: hsla(13, 70%, 61%, 1);

  --ff-space-mono: 'Space Mono', monospace;
  font-size: 62.5%;
}