@use '../abstracts' as a;

html {
  scroll-behavior: smooth;
}

body {
  font-size: a.rem(16px);
  font-family: var(--f-primary);
  font-weight: 500;
  line-height: a.rem(26px);
  color: var(--ui-text-primary);
  background-color: var(--ui-background-color);

  @include a.media('>desktop') {
    font-size: a.rem(18px);
    line-height: a.rem(28px);
  }

  &.nav-is-active {
    overflow-y: hidden;
  }
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

.img-responsive {
  width: 100%;
  display: block;
}

*:focus {
  border: 1px dashed var(--c-almost-black);
}