@use '../abstracts' as a;

button,
input[type="button"],
.btn {
  color: var(--ui-btn-color);
  background-color: var(--ui-btn-bg);
  border: 1px solid var(--ui-btn-border-color);
  padding: a.rem(15px) a.rem(28px) a.rem(13px) a.rem(31px);
  border-radius: var(--ui-border-radius);
  display: inline-block;
  line-height: 1.2;
  cursor: pointer;
  transition: all var(--ui-transition);
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    --ui-btn-bg: transparent;
    --ui-btn-color: var(--c-almost-black);
  }
}

.btn {
  &-lg {
    padding: a.rem(12px) a.rem(24px) a.rem(10px);
  }

  &-border {
    --ui-btn-bg: var(--c-almost-white);
    --ui-btn-border-color: var(--c-medium-gray);
    --ui-btn-color: var(--c-medium-gray);

    &:hover {
      --ui-btn-border-color: var(--c-almost-black);
      --ui-btn-color: var(--c-almost-black);
    }
  }
}