@use '../abstracts' as a;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(#{a.rem(240px)});
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(#{a.rem(240px)});
  }
}

