:root {
  --c-white: hsl(0, 0%, 100%);
  --c-almost-white: hsl(0, 0%, 98%);
  --c-medium-gray: hsl(0, 0%, 41%);
  --c-almost-black: hsl(0, 0%, 8%);

  --f-primary: 'Epilogue', sans-serif;

  --ui-text-primary: var(--c-medium-gray);
  --ui-text-secondary: var(--c-almost-black);
  --ui-text-tertiary: var(--c-almost-white);

  --ui-btn-bg: var(--c-almost-black);
  --ui-btn-color: var(--c-almost-white);
  --ui-btn-border-color: var(--c-almost-black);

  --ui-border-radius: 15px;
  --ui-transition: 300ms ease-in-out;
  --ui-background-color: var(--c-almost-white);
  --ui-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.149126);
}