:root {
  --font-main: 'IBM Plex Sans', sans-serif;

  --color-primary: hsl(177, 68%, 64%);
  --color-secondary: hsl(12, 94%, 65%);
  --color-tertiary: hsl(33, 100%, 70%);
  --color-light: hsl(20, 33%, 98%);
  --color-dark: hsl(244, 23%, 12%);

  --ui-color-text-main: var(--color-dark);
  --border-radius: 12px;
}