@use '../abstracts' as a;

.btn {
  font-weight: 800;
  display: inline-flex;
  background-color: var(--c-secondary);
  color: var(--c-white);
  border: none;
  transition: background-color 300ms ease-in-out;

  &__label {
    display: inline-block;
    padding: a.rem(24px) a.rem(35px) a.rem(24px) a.rem(32px);
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-weight: 800;
    letter-spacing: a.rem(3.63636px);
    font-size: a.rem(20px);
  }

  &__icon-wrap {
    background-color: var(--c-primary);
    padding: a.rem(24px);
    transition: all 300ms ease-in-out;
  }

  &:hover {
    background-color: var(--c-primary);
    color: var(--c-white);

    .btn__icon-wrap {
      background-color: var(--c-secondary);

      svg {
        color: var(--c-white);
      }
    }
  }
}