@use '../abstracts' as a;

@forward "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers" with (
  $hamburger-types: (spin),
  $hamburger-padding-x: 0,
  $hamburger-padding-y: 0,
  $hamburger-layer-width: a.rem(32px),
  $hamburger-layer-height: a.rem(2px),
  $hamburger-layer-spacing: a.rem(6px),
);

.hamburger-box {
  display: block;
}