input[type="button"],
input[type="submit"],
.btn {
  font-size: 1.4rem;
  line-height: 2.8rem;
  background-color: var(--c-turquoise);
  border: 1px solid var(--c-turquoise);
  padding: .9rem 3.2rem;
  margin: 0;
  color: var(--c-mirage);
  font-weight: 600;
  height: 4.6rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--c-aero-blue);
    border-color: var(--c-aero-blue);
  }

  @include media('>tablet') {
    padding: 0.9rem 2.7rem;
  }
}