@layer components {
    .gameboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gameboard-item {
        @apply shadow-md rounded bg-dark-navy-light lg:rounded-lg;
        aspect-ratio: 1 / 1;
    }
}
