@layer components {
    .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        &-cell {
            @apply cursor-pointer relative shadow-md rounded bg-dark-navy-light lg:rounded-lg aspect-square transition-colors;

            &:before,
            &:before {
                content: '';
                mask-repeat: no-repeat;
                mask-size: contain;
                pointer-events: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                aspect-ratio: 1 / 1;
                @apply transition-opacity;
            }

            &.x:before {
                @apply bg-primary;
                mask-image: url("../img/icon-x.svg");
            }

            &.o:before {
                @apply bg-secondary;
                mask-image: url("../img/icon-o.svg");
            }

            &.inverted:before {
                @apply bg-dark-navy;
            }

            &.x.inverted {
                @apply bg-primary shadow-primary-dark;
            }

            &.o.inverted {
                @apply bg-secondary shadow-secondary-dark;
            }
        }

        &[data-player-turn="x"] {
            .board-cell:not(.x):not(.o):hover:before {
                background-color: theme(colors.primary);
                mask-image: url("../img/icon-x-outline.svg");
                opacity: 1;
            }
        }

        &[data-player-turn="o"] {
            .board-cell:not(.x):not(.o):hover:before {
                background-color: theme(colors.secondary);
                -webkit-mask-image: url("../img/icon-o-outline.svg");
                mask-image: url("../img/icon-o-outline.svg");
                opacity: 1;
            }
        }
    }
}
